body {
    font-family: Arial;
    padding: 20px;
    background: grey;
}

.footer {
    padding: 20px;
    text-align: center;
    background: white;
    margin-top: 20px;
    border: solid 1px red;
}

.header-container{
    padding: 20px;
    border: solid 1px red;
    display: grid;
    grid-template-columns: auto auto;
    background: white;
}
.header-row{
    display: grid;
    grid-template-rows: auto;
}    
.social-row{
    display: grid;
    grid-template-rows: 40px 40px;
} 

.section1{
    display: grid;
    grid-template-columns: auto;
}
.section{
    display: grid;
    grid-template-columns: auto auto;
}
        

.card {
    border: solid 1px red;
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}
.leftcolumn { 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px;
    float: left;
    width: 75%;
}
.rightcolumn {
    float: right;
    width: 23%;
    padding-left: 10px;
}

.row {
    display: grid;
    grid-row: 
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.rating .fa {
    padding: 0px;
}

form.example button:hover {
background: #0b7dda;
}

.post-image{
    width:100%;
    min-width:100px;
}

.my-avatar{
    width:100%;
    border-radius: 50%;
}

@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
        width: 100%;
        padding: 0;
    }
}
        